<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.usuario), feed_item.usuario %>
  <span class="usuario">
    <%= link_to feed_item.usuario.nombre, feed_item.usuario %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posteado hace <%= time_ago_in_words(feed_item.created_at) %>.
  </span>
  <% if usuario_actual?(feed_item.usuario) %>
    <%= link_to "borrar", feed_item, method: :delete,
                                     data: { confirm: "¿Estas seguro?" },
                                     title: feed_item.content %>
  <% end %>
</li>
