<%= form_for(@micropost) do |f| %>
  <%= render 'shared/mensajes_error', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Crea un nuevo micropost..." %>
  </div>
  <%= f.submit "Postear", class: "btn btn-large btn-primary" %>
<% end %>
