<% @usuario ||= usuario_actual %>
<div class="stats">
  <a href="<%= siguiendo_usuario_path(@usuario) %>">
    <strong id="siguiendo" class="stat">
      <%= @usuario.usuarios_seguidos.count %>
    </strong>
    siguiendo
  </a>
  <a href="<%= seguidores_usuario_path(@usuario) %>">
    <strong id="seguidores" class="stat">
      <%= @usuario.seguidores.count %>
    </strong>
    seguidores
  </a>
</div>
