<%= link_to gravatar_for(usuario_actual, size: 52), usuario_actual %>
<h1>
  <%= usuario_actual.nombre %>
</h1>
<span>
  <%= link_to "ver mi perfil", usuario_actual %>
</span>
<span>
  <%= pluralize(usuario_actual.microposts.count, "micropost") %>
</span>
