<% provide(:title, "Ingresar") %>
<h1>Ingresar</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for( :sesion, url: sesiones_path ) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>

      <%= f.submit "Ingresar", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Nuevo Usuario? <%= link_to "regístrese ahora!", inscribirse_path %></p>
  </div>
</div>
