<% unless usuario_actual?(@usuario) %>
  <div id="formulario_seguir">
    <% if usuario_actual.siguiendo?(@usuario) %>
      <%= render "noseguir" %>
    <% else %>
      <%= render "seguir" %>
    <% end %>
  </div>
<% end %>
