<%= form_for(usuario_actual.relacions.find_by(seguido_id: @usuario.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "No seguir", class: "btn btn-large" %>
<% end %>
