<li>
  <%= gravatar_for usuario, size: 52 %>
  <%= link_to usuario.nombre, usuario %>
  <% if usuario_actual.admin? && !usuario_actual?(usuario) %>
    | <%= link_to "eliminar", usuario, method: :delete,
                                       data: { confirm: "¿Esta seguro?" } %>
  <% end %>
</li>
