<% provide(:title, 'Inscribirse') %>
<h1>Inscribirse</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/mensajes_error', object: f.object %>

      <%= f.label :nombre %>
      <%= f.text_field :nombre %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmación" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Crear mi cuenta", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
