<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @usuario %>
      <h1><%= @usuario.nombre %></h1>
      <span><%= link_to "ver mi perfil", @usuario %></span>
      <span><b>Microposts:</b> <%= @usuario.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @usuarios.any? %>
        <div class="usuario_avatars">
          <% @usuarios.each do |usuario| %>
            <%= link_to gravatar_for(usuario, size: 30), usuario %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @usuarios.any? %>
      <ul class="usuarios">
        <%= render @usuarios %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
