<li>
  <span class="contenido"><%= micropost.content %></span>
  <span class="timestamp">
    Posteado hace <%= time_ago_in_words(micropost.created_at) %>.
  </span>
  <% if usuario_actual?(micropost.usuario) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "¿Estas seguro?"},
                                     title: micropost.content %>
  <% end %>
</li>
