<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Ayuda",   ayuda_path %></li>
          <% if ingresar? %>
            <li><%= link_to "Usuarios", usuarios_path %></li>
            <li id="fat_menu" class="dropdown">
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                Cuenta <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", usuario_actual %></li>
                <li><%= link_to "Configuración", edit_usuario_path(usuario_actual) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Salir", salir_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Ingresar", ingresar_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
