<% provide(:title, 'Acerca de Nosotros') %>
<h1>Acerca de Nosotros</h1>
<p>
  El <a href="http://railstutorial.org/">Tutorial Ruby on Rails</a>
  es un proyecto para hacer un libro y screencasts para enzeñar desarrollo web
  con <a href="http://rubyonrails.org/">Ruby on Rails</a>. Esta es una
  aplicación de muestra para el tutorial.
</p>
