<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>
<p>
  Contacto Tutorial Ruby on Rails sobre la aplicación de muestra en la
  <a href="http://railstutorial.org/contact">página de contacto</a>.
</p>
