<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>
<p>
  Obtiene ayuda sobre el Tutorial Ruby on Rails en la
  <a href="http://railstutorial.org/help">página de ayuda del Tutorial Rails</a>.
  Para obtener ayuda sobre esta aplicación de ejemplo, revisa el
  <a href="http://railstutorial.org/book">libro Tutorial Rails</a>.
</p>
