<% if ingresar? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/usuario_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/formulario_micropost' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Bienvenidos a Sample App</h1>
    <h2>
      Este es el home page para la aplicación ejemplo del
      <a href="http://railstutorial.org/">Tutorial Ruby on Rails</a>.
    </h2>

    <%= link_to "Inscribete ahora!", inscribirse_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
